.hover_test {
    width: 150px;
    height: 50px;
    background-color: red;
    border: 1px solid red;
    opacity: 0.5;
    transition: 0.5s
}

.hover_test:hover {
    width: 400px;
    opacity: 1.0;
}